---
import DefaultLayout from "../layouts/DefaultLayout.astro";
---

<DefaultLayout title="Page not found">
  <section class="revealdivs">
    <div id="standout" class="wrap">
      <h2 class="hea hea_large">
        <b>Page not found</b>
        Go to <a href="/" title="Go to home page">home page</a>
      </h2>
    </div>
  </section>

  
</DefaultLayout>
